#contenido #formacion {
  margin: 35px 35px 35px 35px;
  padding: 10px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 10px;
}
#contenido #formacion h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid rgba(109, 107, 107, 0.548) 3px;
  font-size: 25px;
}
#contenido #experiencia {
  margin: 35px 35px 35px 35px;
  padding: 10px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 10px;
}
#contenido #experiencia h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid rgba(109, 107, 107, 0.548) 3px;
  font-size: 25px;
}
#contenido #conocimientos {
  margin: 35px 35px 35px 35px;
  padding: 10px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 10px;
}
#contenido #conocimientos h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid rgba(109, 107, 107, 0.548) 3px;
  font-size: 25px;
}
#contenido #otrosDatos {
  margin: 35px 35px 35px 35px;
  padding: 10px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 10px;
}
#contenido #otrosDatos h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid rgba(109, 107, 107, 0.548) 3px;
  font-size: 25px;
}
#contenido #cv {
  margin: 35px 35px 35px 35px;
  padding: 10px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 10px;
}
#contenido #cv h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid rgba(109, 107, 107, 0.548) 3px;
  font-size: 25px;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: grid;
  grid-template-areas: "menu" "contenido";
}

#menu {
  grid-area: menu;
  background-color: rgb(31, 106, 136);
  color: rgb(247, 244, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: large;
}
#menu h1 {
  font-family: "sans Serif";
  font-size: 27px;
  color: rgb(247, 244, 231);
}
#menu #menu_info {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#menu #menu_info img {
  margin: 20px 0 0 20px;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 2px solid rgb(223, 213, 169);
}
#menu #menu_info2 {
  text-align: center;
  padding-right: 20px;
}
#menu #menu_enlaces {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
  padding: 10px 15px 10px 15px;
}
#menu #menu_enlaces a {
  text-decoration: none;
  color: black;
  color: rgb(247, 244, 231);
  padding: 10px 5px 10px 5px;
}
#menu #menu_enlaces a:hover {
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}

#contenido {
  grid-area: contenido;
  background-color: rgb(247, 244, 231);
  font-size: 18px;
}
#contenido #sobreMi {
  text-align: center;
  padding: 0 30px 0 30px;
}
#contenido #sobreMi h2 {
  font-size: 28px;
  color: rgb(31, 106, 136);
}
#contenido #cv {
  text-align: center;
}
#contenido #cv a {
  text-decoration: none;
  color: black;
  color: rgb(247, 244, 231);
  color: black;
}
#contenido #cv a:hover {
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  background-color: rgb(247, 244, 231);
}

#contenido > div {
  scroll-margin-top: 360px;
}

@media (min-width: 850px) {
  #wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "menu contenido";
  }
  #menu {
    text-align: start;
    justify-content: start;
    height: 100vh;
    overflow-y: auto;
  }
  #menu h1 {
    font-size: 40px;
  }
  #menu #menu_info {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
  }
  #menu #menu_info img {
    width: 170px;
    height: 170px;
  }
  #menu #menu_info2 {
    padding-left: 10px;
  }
  #menu #menu_enlaces {
    display: flex;
    flex-direction: column;
  }
  #contenido #sobreMi h2 {
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
